= form_for [@discussion, @comment], remote: true do |f|
  #comment-errors
  = f.text_area :body, class: "form-control", id: "new-comment"
  = f.submit "Create Comment", class: "btn btn-warning getaway"
